* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

button {
    background: none; /* Убираем фон */
    color: inherit; /* Наследуем цвет текста от родителя */
    border: none; /* Убираем рамку */
    padding: 0; /* Убираем отступы */
    margin: 0; /* Убираем внешние отступы */
    font-family: inherit; /* Наследуем шрифт от родителя */
    font-size: inherit; /* Наследуем размер шрифта от родителя */
    cursor: pointer; /* Устанавливаем курсор в виде "руки" при наведении */
    outline: none; /* Убираем контур фокуса */
    font-weight: normal; /* Ставим нормальную жирность текста */
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.header__logo {
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
}

.logo__img {
    margin-top: 40px;
}

.logo__text {
    margin-top: 45px;
    margin-left: 14px;
}

.grow {
    color: #000;    
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.be {
    color: #F25822;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.header__menu {
    margin-top: 51px;
    margin-left: 346px;
    display: flex;
    gap: 45px;
}

.menu__link {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.menu__home {
    color: #F25822;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.main {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.main__title {
    margin-top: 143px;
    width: 522px;
    color: #000;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main__paragraph {
    margin-top: 17px;
    width: 478px;   
    color: #888;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.start__button {
    margin-top: 37px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    width: 140px;
    height: 50px;
    
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.watch__link {
    margin-left: 72px;
    color: #AAA;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.main__img {
    margin-top: 83px;
}

.footer {
    padding-top: 97px;
    display: flex;
    gap: 48px;
}